<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngIf="!isConnect" (click)="login()" ><a routerLink="login"  class="waves-effect waves-light btn">Login</a></li>
            <li *ngIf="!isConnect" (click)="logout()" ><a class="waves-effect waves-light btn">Logout</a></li>
            <li *ngIf="isConnect" (click)="login()" ><a routerLink="register" class="waves-effect waves-light btn">Register</a></li>
        </ul>
    </div>
</nav>